* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
select{
    padding:8px;
    margin:20px;
}
body {
  height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  text-align: center;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.card h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.input-group input:focus {
  box-shadow: 0 0 8px #00c6ff;
}

button {
  width: 100%;
  padding: 12px;
  background: #00c6ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #879db8;
}

#msg {
  margin-top: 10px;
  font-size: 14px;
}

#toggleText {
  margin-top: 15px;
  font-size: 14px;
}

#toggleText span {
  color: #00c6ff;
  cursor: pointer;
  font-weight: 600;
}

#toggleText span:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
