body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #FFF6DA;
  color: #333;
}

/* HERO */
.about-hero {
  background: linear-gradient(
      135deg,
      rgba(15,108,141,0.9),
      rgba(31,163,184,0.8),
      rgba(244,168,37,0.8)
    ),
    url('../images/logo.jpg') center/cover no-repeat;

  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 48px;
  letter-spacing: 2px;
}

.overlay p {
  font-size: 18px;
  color: #FFD86B;
}

/* ABOUT SECTION */
.about-container {
  display: flex;
  padding: 80px 10%;
  gap: 50px;
  align-items: center;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.about-text h2 {
  color: #0F6C8D;
  font-size: 32px;
}

.about-text p {
  line-height: 1.8;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.stat-box {
  background: linear-gradient(135deg,#1FA3B8,#0F6C8D);
  padding: 25px;
  color: white;
  border-radius: 12px;
  text-align: center;
  flex: 1;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.stat-box:hover {
  background: linear-gradient(135deg,#F4A825,#F47C20);
  transform: translateY(-5px);
}

/* VISION */
.vision-mission {
  display: flex;
  padding: 80px 10%;
  background: linear-gradient(to right,#FFF6DA,#ffffff);
  gap: 25px;
  text-align: center;
}

.vm-box {
  background: white;
  padding: 35px;
  border-radius: 15px;
  flex: 1;
  transition: 0.4s;
  border-top: 4px solid #F4A825;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.vm-box i {
  font-size: 40px;
  color: #0F6C8D;
  margin-bottom: 15px;
}

.vm-box:hover {
  transform: translateY(-10px);
  border-top: 4px solid #1FA3B8;
}

/* TEAM */
.team {
  padding: 80px 10%;
  text-align: center;
  background: #ffffff;
}

.team h2 {
  color: #0F6C8D;
  margin-bottom: 40px;
}

.team-grid {
  display: flex;
  gap: 25px;
}

.team-card {
  background: linear-gradient(to bottom,#ffffff,#FFF6DA);
  padding: 25px;
  border-radius: 15px;
  flex: 1;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.team-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.team-card:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */
@media(max-width: 992px){
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}

@media(max-width: 768px){
  .vision-mission,
  .team-grid,
  .stats {
    flex-direction: column;
  }

  .overlay h1 {
    font-size: 32px;
  }
}
